@font-face {
    font-family: "monocraft";
    src: url(Monocraft.otf);
    font-display: swap;
}

@font-face {
    font-family: "heavy";
    src: url(BaskervaldADFStd-Heavy.otf);
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    font-family: "monocraft", "heavy", sans-serif;
}

html,
body {
    height: 100%;
    z-index: 0;
    scroll-behavior: smooth;
}

header,
footer {
    z-index: 5;
}

/* Header */

header {
    position: fixed;
    height: 48px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    top: 0;
}

/* Header: Navigation */

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    width: 25%;
    height: 66px;
}

nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
    flex-grow: 1;
    list-style: none;
    text-align: center;
    cursor: pointer;
    clip-path: polygon(100% 0, 100% 60%, 50% 100%, 0 60%, 0 0);
    background-image: url(../images/logo-background.webp);
    height: 120px;
}

nav li a {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
    width: 97%;
    height: 92%;
    text-decoration: none;
    text-transform: uppercase;
    clip-path: polygon(100% 0, 100% 60%, 50% 100%, 0 60%, 0 0);
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    margin-bottom: 8px;
}

nav li a:hover {
    background-color: rgb(250, 250, 250);
    color: rgb(200, 87, 125);
}

.left-nav li:nth-of-type(1),
.right-nav li:nth-of-type(2) {
    height: 81px;
    margin-bottom: 3px;
    width: 95px;
}

.left-nav li:nth-of-type(2),
.right-nav li:nth-of-type(1) {
    width: 100px;
}

.left-nav li:nth-of-type(2) {
    margin-left: 7px;
    margin-right: 10px;
}

.right-nav li:nth-of-type(1) {
    margin-left: 10px;
    margin-right: 7px;
}

.left-nav li:nth-of-type(1):hover,
.right-nav li:nth-of-type(2):hover {
    height: 100px;
}

.left-nav li:nth-of-type(2):hover,
.right-nav li:nth-of-type(1):hover {
    height: 140px;
}

/* Header: Logo */

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
    width: 220px;
    height: 160px;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(100% 0, 100% 60%, 50% 100%, 0 60%, 0 0);
    border-top: 2px dotted rgba(142, 142, 142, 0.388);
}

.logo-container2 {
    clip-path: polygon(100% 0, 100% 60%, 50% 100%, 0 60%, 0 0);
    height: 98%;
    width: 98%;
    background-image: url(../images/logo-background.webp);
    margin-bottom: 8px;
}

.logo-container:hover {
    height: 210px;
}

.logo-container img {
    transition: .5s ease-in-out;
    width: 100%;
    height: auto;
    margin-top: 28px;
}

.logo-container img:hover {
    filter: drop-shadow(0 0 0.5rem rgba(254, 254, 254, 0.37));
}

/* Footer */

footer {
    height: 385px;
    width: 100%;
    background-image: url(../images/footer-background.webp);
    background-position: center;
    padding-bottom: 185px;
    clip-path: polygon(50% 15%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
}

footer p:not(.disclaimer p) {
    padding-top: 100px;
    margin-bottom: 20px;
}

/* Footer: Creator */
.socials {
    color: white;
    margin-left: 70px;
    margin-top: 20px;
    float: left;
    font-size: xx-large;
}

.socials a {
    color: white;
    text-decoration: none;
}

.socials a:nth-of-type(2) {
    color: aqua;
}

.socials a:nth-of-type(3) {
    color: red;
}

.socials a:nth-of-type(n+2) {
    margin-left: 20px;
}

.creator {
    color: white;
    margin-top: 20px;
    margin-right: 70px;
    float: right;
}

.mv {
    font-style: normal;
    text-decoration: none;
    color: wheat;
}

/* Footer: Statement and disclaimer */

.disclaimer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
}

.disclaimer img {
    transition: .5s ease-in-out;
    width: 350px;
    height: auto;
}

.disclaimer img:hover {
    filter: drop-shadow(0 0 0.5rem rgba(254, 254, 254, 0.37));
}

.disclaimer p {
    width: 60%;
    margin-top: 20px;
}

.ace-ref {
    transition: .5s ease-in-out;
    background-color: #ffd21d;
    margin-top: 37px;
    font-family: "heavy";
    text-transform: uppercase;
    padding: 20px;
    cursor: pointer;
    color: black;
    font-weight: bolder;
    border: 2px solid black;
    text-decoration: none;
}

.ace-ref:hover {
    background-color: #ffc800;
    box-shadow: 0 1px 1px 0 rgba(255, 203, 82, 0.1);
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    border-top: 2px solid wheat;
    border-left: 2px solid wheat;
    color: rgb(63, 9, 9);
    box-shadow: 0 0.15em 0.3em #ffc80079;
}

/* Main */

.triangle-divider,
.triangle-divider-black,
.triangle-divider-white {
    position: absolute;
    width: 100%;
    height: 219px;
    bottom: 0;
    clip-path: polygon(50% 85%, 100% 50%, 100% 100%, 0 100%, 0 50%);
    z-index: 3;
}

.triangle-divider {
    background-color: black;
    margin-bottom: -10px;
}

.triangle-divider-black {
    position: absolute;
    background-color: black;
    margin-bottom: -30px;
}

.triangle-divider-white {
    background-color: white;
    margin-bottom: -58px;
}

/* Main: Section 1 */

#section1 {
    min-height: 100vh;
    background-image: url(../images/jet-fighter.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section1-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.55);
    box-shadow: 0 8px 32px 0 rgba(24, 30, 107, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    width: 80%;
    height: 60%;
    clip-path: polygon(50% 15%, 100% 0%, 100% 85%, 50% 100%, 0 86%, 0 0%);
}

.hero {
    position: relative;
    clip-path: polygon(50% 15%, 100% 0%, 100% 85%, 50% 100%, 0 86%, 0 0%);
    width: 98%;
    height: 95%;
    margin-top: 5px;
    margin-right: 6px;
}

.target-status {
    margin-top: 13px;
    writing-mode: vertical-rl;
    color: rgba(255, 255, 255, 0.514);
    font-weight: normal;
    height: 50%;
}

.destroyed {
    color: rgba(0, 255, 68, 0.514);
}

.missed {
    color: rgba(255, 13, 0, 0.514);
}

.target-status span {
    font-size: x-large;
}

.hero .npc {
    position: relative;
    font-size: 15px;
    margin-left: 60px;
    margin-top: 30px;
    color: white;
    width: 35%;
    height: 25%;
    opacity: .75;
}

.hero .npc p {
    position: absolute;
    width: 68%;
    height: 100%;
    right: 0;
    margin-top: 4.5px;
}

.hero .npc strong {
    background-color: #fff;
    color: black;
}

.hero .npc a,
.missile a {
    padding: 3px;
    color: rgb(115, 170, 31);
    text-transform: uppercase;
    padding-left: 0;
    font-size: 13.5px;
    text-decoration: none;
    cursor: help;
}

.hero .npc img {
    float: left;
    width: 107px;
    height: auto;
    filter: brightness(80%);
}

.hero .crosshair {
    position: absolute;
    top: 38%;
    left: 45.25%;
    width: 120px;
    height: auto;
    opacity: .8;
    z-index: 3;
    cursor: url(../images/missile.gif), pointer;
}

.hero .radar {
    position: absolute;
    width: 102px;
    height: auto;
    right: 4.5%;
    bottom: 15%;
    filter: hue-rotate(250deg) contrast(140%);
    background-color: darkgray;
    border-radius: 120px;
    opacity: .4;
}

.hero .missile {
    position: absolute;
    bottom: 14.4%;
    right: 18.6%;
    color: white;
    font-size: 15px;
    opacity: .7;
    text-align: right;
}

.hero .missile b {
    background-color: #fff;
    color: black;
}

.hero .missile span {
    display: Inline-block;
}

.hero .missile .left-arrow {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.flare,
.flare-2 {
    position: absolute;
    width: 5px;
    background-color: rgba(255, 255, 255, 0.514);
}

.flare {
    top: 47px;
    right: 0;
    clip-path: polygon(0% 1.15%, 100% 0%, 100% 99.2%, 0% 100%);
    height: 120px;
}

.flare-2 {
    top: 50px;
    right: 8px;
    clip-path: polygon(0% 2.8%, 100% 0%, 100% 98%, 0% 100%);
    height: 50px;
}

/* Main: Section 2 */

#section2 {
    position: relative;
    height: 800px;
    background-color: black;
    color: white;
    text-align: center;
}

.companies {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

#section2 h2,
#section2 h6 {
    font-family: "heavy";
    text-transform: uppercase;
}

/* Section 2: Polaroid */
.polaroid {
    background: #fff;
    padding: 1rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.item {
    position: relative;
    width: 19%;
    display: inline-block;
    filter: grayscale(100%);
}

.item:nth-of-type(n) {
    transform: scale(0.75, 0.75) rotate(5deg);
    transition: all 0.35s;
}

.item:hover {
    filter: none;
    transform: scale(.85, .85) rotate(0deg) !important;
    transition: all 0.35s;
}

.polaroid>img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.caption {
    margin-top: 10px;
    color: black;
    font-size: 16px;
    text-align: center;
    line-height: 2em;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.12);
    padding: 1px;
    border-radius: 2px;
}

.tape{
    position: absolute;
    transition: .5s ease-in-out;
    width: 40%;
    height: 30px;
    top: 8px;
    left: -20px;
    background-color:rgba(255, 255, 255, 0.6);
    clip-path: polygon(95% 75%, 100% 50%, 95% 25%, 100% 0%, 0% 0%, 5% 25%, 0% 50%, 5% 75%, 0% 100%, 100% 100%);
    opacity: 1;
    rotate: -30deg;
}

.item:hover .tape{
    top: 28px;
    left: -60px;
    rotate: -45deg;
    transform: rotateY(90deg);
    opacity: 0;
}

.triangle-divider-2 {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    height: 219px;
    clip-path: polygon(50% 85%, 100% 50%, 100% 100%, 0 100%, 0 50%);
}


/* Main: Section 3 */

#section3 {
    position: relative;
    height: 500px;
    background-color: white;
}

.triangle-divider-3 {
    position: absolute;
    bottom: 0;
    background-color: black;
    width: 100%;
    height: 219px;
    clip-path: polygon(50% 85%, 100% 50%, 100% 100%, 0 100%, 0 50%);
}

#section4 {
    background-color: white;
    height: 500px;
}

/* Animations */

.blink {
    animation: blink-animation .5s steps(5, start) infinite;
    -webkit-animation: blink-animation .5s steps(5, start) infinite;
}

.blink3s {
    animation: blink-animation .3s steps(3, start) infinite;
    -webkit-animation: blink-animation .3s steps(3, start) infinite;
}

.nudge {
    animation: nudge-animation 3s linear infinite alternate-reverse;
    -webkit-animation: nudge-animation 3s linear infinite alternate-reverse;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@keyframes nudge-animation {

    0%,
    100% {
        transform: translate(0, 0);
    }

    30% {
        transform: translate(30px, 30px);
    }

    50% {
        transform: translate(-30px, 30px);
    }

    80% {
        transform: translate(30px, -30px);
    }
}


/* Borders */

.borders {
    position: relative;
    border-top: 1px solid hsla(0, 0%, 100%, .6);
    border-bottom: 1px solid hsla(0, 0%, 100%, .6)
}

.borders:before {
    top: -1px
}

.borders:after,
.borders:before {
    position: absolute;
    height: 2px;
    border-left: 20px solid #fff;
    border-right: 20px solid #fff;
    content: " ";
    left: 0;
    right: 0
}

.borders:after {
    bottom: -1px
}